Source: kte-collaborative
Section: unknown
Priority: extra
Maintainer: Diane Trout <diane@ghic.org>
Build-Depends: debhelper (>= 9), cmake, pkg-kde-tools,
 kdelibs5-dev (>= 4:4.5.0), libtelepathy-qt4-dev( >= 0.8.9), 
 libktpcommoninternalsprivate-dev (>= 0.6.3),
 libqinfinity-dev, libinfinity-0.5-dev, infinoted-0.5, libgsasl7-dev
Standards-Version: 3.9.4
Homepage: https://projects.kde.org/projects/playground/network/kte-collaborative
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-extras/kde-telepathy/kte-collaborative.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-extras/kde-telepathy/kte-collaborative.git

Package: kte-collaborative
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Collaborative Text Editor support for KDE
 kte-collaborative treats each file with an URL which uses the inf:// 
 protocol as a collaborative  document. You can thus just open 
 inf://myusername@servername.tld:port/path/to/document.txt in the
 editor, and the plugin should connect you to the session. You can also 
 use the File -> Open dialog  to select the document after entering the
 base URL. Alternatively, you can use Collaborative -> Open collaborative
 document for a nice GUI for entering connection parameters.
 You can also use Telepathy to establish pseudo peer-to-peer connections 
 to jabber contacts from the same menu.

