#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

include /usr/share/dpkg/architecture.mk

%:
	dh $@ --with kde --list-missing --dbg-package=kte-collaborative-dbg

.PHONY: override_dh_auto_test
